body {
  font-family: "Commissioner", sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 15%;
  border: 1px dashed gray;
  font-weight: 500;
  font-size: 20px;
  background: url(https://pixabay.com/get/51e3d34b4257b108f5d0846096293f78103bdfe3514c704f752d7ed59249c25f_1280.jpg);
  background-size: cover;
}

header {
  margin: 0 auto;
  text-align: center;
}

.countdown-container {
  border: 1px solid magenta;
  margin: 0 auto;
  width: 500px;
  text-align: center;
}

.timer-container {
  border: 2px solid green;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.todo-container {
  border: 1px solid red;
  width: 500px;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.todo {
  border: 1px solid black;
}

.task-list {
  border: 2px solid blue;
}

.notes-container {
  display: flex;
  border: 2px solid blue;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.notes-container > h4 {
  order: -1;
}

.notes-container > form {
  order: 0;
}

.notes-container > #subject {
  order: 1;
}

.notes-container > #note {
  order: 2;
}

.notes-container > button {
  order: 3;
}

.welcome-container {
  border: 1px solid orange;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.welcome-get {
  border: 1px solid darkorange;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
