body {
  font-family: "Commissioner", sans-serif;
  display: flex;
  flex-direction: column;
  /* border: 1px dashed gray; */
  color: white;
  text-shadow: 2px 2px 8px black;
  font-weight: 700;
  font-size: 20px;
  background: url(https://pixabay.com/get/57e0d2414250af14f6da8c7dda793676133adae455536c48732f79d19648c15fbf_1280.jpg);
  background-size: cover;
  /* backdrop-filter: blur(2px); */
}

header {
  margin: 0 auto;
  text-align: center;
}

.countdown-container {
  /* border: 1px solid magenta; */
  margin: 0 auto;
  width: 500px;
  text-align: center;
  backdrop-filter: blur(0.7px);
}

.timer-container {
  /* border: 2px solid green; */
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.todo-container {
  /* border: 1px solid red; */
  width: 500px;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

/* .todo {
  border: 1px solid black;
} */

/* .task-list {
  border: 2px solid blue;
} */

.notes-container {
  display: flex;
  flex-direction: column;
  /* border: 2px solid blue; */
  width: 500px;
  margin: 0 auto;
  text-align: center;
  justify-content: space-around;
}

.notes-get {
  margin: 0 auto;
  text-align: center;
  width: 500px;
  background-color: moccasin;
  color: black;
  text-shadow: 2px 2px 8px white;
}

.note > textarea {
  width: 350px;
}

.notes-container > h4 {
  order: -1;
}

.notes-container > form {
  order: 0;
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.notes-container > #subject {
  order: 1;
}

.notes-container > #note {
  order: 2;
}

.notes-container > button {
  order: 3;
  width: 150px;
  margin: 0 auto;
}

.welcome-container {
  /* border: 1px solid orange; */
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.welcome-get {
  /* border: 1px solid darkorange; */
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.break-button {
  margin: 0 auto;
  text-align: center;
}
