header {
  margin: 0 auto;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  font-family: "Commissioner", sans-serif;
  color: white;
  text-shadow: 2px 2px 4px black;
  font-weight: 700;
  font-size: 20px;
}

.name-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  font-weight: 700;
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px 4px black;
}

.countdown-container {
  /* border: 1px solid magenta; */
  margin: 0 auto;
  width: 500px;
  text-align: center;
  backdrop-filter: blur(0.7px);
}

.timer-container {
  /* border: 2px solid green; */
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.todo-container {
  /* border: 1px solid red; */
  width: 500px;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

/* .todo {
  border: 1px solid black;
} */

/* .task-list {
  border: 2px solid blue;
} */

.notes-container {
  display: flex;
  flex-direction: column;
  /* border: 2px solid blue; */
  width: 500px;
  margin: 0 auto;
  text-align: center;
  justify-content: space-around;
}

.notes-get {
  margin: 0 auto;
  text-align: center;
  width: 500px;
  background-color: moccasin;
  color: black;
  text-shadow: 2px 2px 8px white;
}

.note > textarea {
  width: 350px;
}

.notes-container > h4 {
  order: -1;
}

.notes-container > form {
  order: 0;
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.notes-container > #subject {
  order: 1;
}

.notes-container > #note {
  order: 2;
}

.notes-container > button {
  order: 3;
  margin: 0 auto;
}

.welcome-container {
  /* border: 1px solid orange; */
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.Welcome {
  text-align: center;
  margin: 0 auto;
}

.break-button {
  margin: 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  text-shadow: none;
}

.advice {
  display: flex;
  width: 500px;
  text-align: center;
  margin: 0 auto;
}
