header {
  margin: 0 auto;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  font-family: "Commissioner", sans-serif;
  color: white;
  text-shadow: 2px 2px 4px black;
  font-weight: 700;
  font-size: 20px;
}

.main-notes {
  border: 5px solid blue;
}

.welcome-display {
  text-align: center;
  margin: 0 auto;
  margin-top: 5%;
}

.welcome-container {
  /* border: 1px solid orange; */
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.name-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  font-weight: 700;
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px 4px black;
  margin-bottom: 10%;
}

.countdown-container {
  border: 1px solid magenta;
  margin: 2% auto;
  width: 500px;
  text-align: center;
}

.todo-container {
  border: 1px solid red;
  width: 500px;
  max-width: 500px;
  margin: 2% auto;
  text-align: center;
}

.notes-container {
  display: flex;
  flex-direction: column;
  /* border: 2px solid blue; */
  width: 500px;
  margin: 0 auto;
  text-align: center;
  justify-content: space-around;
}

.notes-get {
  /* border: 3px solid green; */
  margin: 2% auto;
  text-align: center;
  width: 300px;
  height: 300px;
  background-color: #ffff99;
  color: black;
  text-shadow: 2px 2px 8px white;
}

.note > textarea {
  width: 350px;
}

.notes-container > h4 {
  order: -1;
}

.notes-container > form {
  order: 0;
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.notes-container > #subject {
  order: 1;
}

.notes-container > #note {
  order: 2;
}

.notes-container > button {
  order: 3;
  margin: 0 auto;
}

.break-button {
  margin: 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  text-shadow: none;
}

.advice {
  /* border: 1px solid red; */
  display: flex;
  width: 500px;
  text-align: center;
  margin: 3% auto;
  padding-left: 10%;
}
