header,
nav,
article,
section,
#ad1,
#ad2,
aside,
footer {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.layout {
  display: grid;
  height: 720px;
  width: 90vw;
  margin: 10px auto;
  grid-gap: 10px;
  grid-template-areas:
    "header header header header header header"
    "header header header header header header"
    "nav article article article article article"
    "nav article article article article article"
    "nav article article article article article"
    "nav carousel carousel carousel carousel carousel"
    "nav carousel carousel carousel carousel carousel"
    "nav carousel carousel carousel carousel carousel"
    "nav ad1 ad1 ad2 ad2 side"
    "nav ad1 ad1 ad2 ad2 side"
    "nav ad1 ad1 ad2 ad2 side"
    "footer footer footer footer footer footer";
}
aside {
  grid-area: side;
}
header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
article {
  grid-area: article;
}
section {
  grid-area: carousel;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
section div {
  border: 1px solid black;
  margin: 5px;
  box-sizing: border-box;
}
#ad1 {
  grid-area: ad1;
}
#ad2 {
  grid-area: ad2;
}
footer {
  grid-area: footer;
}
.cards {
  display: grid;
  width: 900px;
  max-width: 80vw;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
}
.card {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}
@media screen and (max-width: 700px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 425px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .layout {
    grid-template-areas:
      "footer"
      "header"
      "nav"
      "article"
      "carousel"
      "ad1"
      "ad2";
  }
}
