header,
nav,
article,
section,
#notes,
#tasks,
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 4px black;
  font-weight: 700;
  font-size: 20px;
}

.layout {
  display: grid;
  height: 720px;
  width: 90vw;
  margin: 0px auto;
  box-sizing: border-box;
  grid-gap: 5px;
  grid-template-areas:
    "header header header header header nav"
    "header header header header header nav"
    ". . article article . ."
    ". . article article . ."
    ". . section section . ."
    ". . section section . ."
    ". notes notes tasks tasks ."
    ". notes notes tasks tasks ."
    "footer footer footer footer footer footer";
}

header {
  grid-area: header;
  font-size: 48px;
}

article {
  grid-area: article;
}
section {
  grid-area: section;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
section div {
  margin: 5px;
  box-sizing: border-box;
}

.name-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  font-weight: 700;
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px 4px black;
}

.main-welcome {
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.welcome-display {
  text-align: center;
  margin: 0 auto;
}

.welcome-container {
  margin: 0 auto;
  text-align: center;
}

.main-countdown {
  border: 3px solid black;
  border-radius: 20px;
  backdrop-filter: blur(5px);
}

.clock {
  font-size: 60px;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.advice {
  display: flex;
  text-align: center;
  font-style: italic;
  margin: 0 auto;
}

#notes {
  grid-area: notes;
  display: grid;
  grid-template-areas: "new notes";
  justify-content: flex-start;
  align-content: flex-end;
  text-align: center;
  margin-left: 1%;
}

#notes div {
  margin: 0 5px;
}

.notes-container {
  grid-area: new;
  backdrop-filter: brightness(80%);
}

.notes-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notes-container button {
  width: fit-content;
  margin: 0 auto;
}

.notes-display {
  grid-area: notes;
  margin: 0 auto;
  text-align: center;
  width: 200px;
  height: 200px;
  background-color: #ffff99;
  color: black;
  text-shadow: 2px 2px 8px white;
}

#tasks {
  grid-area: tasks;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: flex-end;
  align-content: flex-end;
  margin-right: 1%;
}

.todo-container {
  backdrop-filter: brightness(70%);
}

footer {
  grid-area: footer;
  font-size: 14px;
  backdrop-filter: brightness(30%);
}

@media screen and (max-width: 775px) {
  .layout {
    display: unset;
  }

  #tasks,
  #notes,
  .notes-display,
  .notes-container,
  .todo-container {
    display: unset;
  }

  .layout div {
    padding: 2%;
  }

  .notes-display {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    background-color: #ffff99;
    color: black;
  }

  #notes {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 350px;
  }
}

@media screen and (max-width: 375px) {
  .layout {
    display: unset;
  }

  .layout div {
    padding: 4%;
  }

  #tasks,
  #notes,
  .notes-display,
  .notes-container,
  .todo-container {
    display: unset;
  }

  .notes-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    background-color: #ffff99;
    color: black;
  }

  #notes {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 250px;
  }
}
